In [1]:
import pandas as pd 

df = pd.read_csv("data/hotel_bookings.csv")

In [2]:
df.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
108967,City Hotel,0,3,2017,April,14,3,1,1,1,...,0,28.0,NaN,0,Transient,94.00,0,0,Check-Out,5/04/17
102546,City Hotel,0,2,2016,November,49,27,2,2,2,...,0,9.0,NaN,0,Transient,89.89,0,1,Check-Out,1/12/16
19863,Resort Hotel,0,5,2016,January,1,2,2,2,2,...,0,NaN,NaN,0,Transient,73.25,0,0,Check-Out,6/01/16
89834,City Hotel,0,6,2016,May,22,26,0,1,1,...,0,NaN,NaN,0,Transient,197.00,0,2,Check-Out,27/05/16
18983,Resort Hotel,0,6,2015,December,49,4,0,1,2,...,0,240.0,NaN,0,Transient,46.40,0,1,Check-Out,5/12/15
92955,City Hotel,0,3,2016,September,39,19,1,0,1,...,0,NaN,40.0,0,Transient,67.00,1,0,Check-Out,20/09/16
33286,Resort Hotel,0,2,2017,February,7,17,0,2,2,...,0,240.0,NaN,0,Transient,60.00,1,2,Check-Out,19/02/17
112430,City Hotel,0,18,2017,May,21,22,1,1,2,...,0,315.0,NaN,0,Transient-Party,120.00,0,1,Check-Out,24/05/17
6325,Resort Hotel,1,182,2016,June,23,3,1,2,2,...,0,248.0,NaN,0,Transient,97.30,0,0,Canceled,20/01/16
3459,Resort Hotel,1,149,2015,December,51,13,6,13,1,...,0,240.0,NaN,0,Transient,31.12,0,2,Canceled,30/07/15

In [3]:
conteo = df.country.value_counts()
conteo_1 = conteo[conteo >1000]
conteo_1

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
ITA     3766
IRL     3375
BEL     2342
BRA     2224
NLD     2104
USA     2097
CHE     1730
CN      1279
AUT     1263
SWE     1024
Name: count, dtype: int64

In [4]:
lista_paises = conteo_1.index.tolist()
lista_paises

['PRT',
 'GBR',
 'FRA',
 'ESP',
 'DEU',
 'ITA',
 'IRL',
 'BEL',
 'BRA',
 'NLD',
 'USA',
 'CHE',
 'CN',
 'AUT',
 'SWE']

In [5]:
len(lista_paises)

15

In [6]:
paises = df['country'].unique()
print(paises)

['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN' 'ARG' 'POL'
 'DEU' 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST'
 'CZE' 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR'
 'UKR' 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO'
 'ISR' 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM'
 'HRV' 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY'
 'KWT' 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN'
 'SYC' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB'
 'CMR' 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI'
 'SAU' 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB'
 'NPL' 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA'
 'KHM' 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP'
 'GLP' 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY'
 'MLI' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA'
 'ATA' 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']

In [7]:
df_clientes = pd.read_csv('data\clientes_2000.csv')

df_clientes.info()

# Separar en nombre y apellido
#df_clientes[['nombre', 'apellidos']] = df_clientes['nombre'].str.split(' ', 1, expand=True)

# Ahora puedes eliminar la columna original si quieres
# df.drop(columns=['nombre'], inplace=True)

# Guardar de nuevo el CSV
#df.to_csv('/mnt/data/clientes_2000_separado.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cliente_id  2000 non-null   int64
 1   nombre      2000 non-null   object
 2   email       2000 non-null   object
 3   pais        2000 non-null   object
dtypes: int64(1), object(3)
memory usage: 62.6+ KB

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\maria\AppData\Local\Temp\ipykernel_1932\324426924.py:1: SyntaxWarning: invalid escape sequence '\c'
  df_clientes = pd.read_csv('data\clientes_2000.csv')

In [8]:
# Separar en máximo 2 partes: nombre y apellido
split_names = df_clientes['nombre'].str.split(' ', n=1, expand=True)
df_clientes['nombre'] = split_names[0]          # Primer nombre
df_clientes['apellidos'] = split_names[1]       # Todo lo demás como apellido

In [9]:
df_clientes

,cliente_id,nombre,email,pais,apellidos
0,1,Lauren,jenniferscott@atkins-garcia.com,TUR,Chen
1,2,Joseph,lauren07@carr.com,PER,Ross
2,3,Dr.,kinggeorge@yahoo.com,ITA,Katie Stephenson
3,4,Taylor,cory64@kelly.com,SVK,Todd
4,5,Shelley,samantha33@yahoo.com,URY,Lowe
...,...,...,...,...,...
1995,1996,Amber,jordanwilliam@gmail.com,BLR,Thomas
1996,1997,David,mitchellabigail@yahoo.com,TUN,Allen
1997,1998,Jennifer,graycynthia@hotmail.com,MAC,Gardner
1998,1999,Christy,smithlauren@gmail.com,PAN,Jackson
1999,2000,Erin,benjamin29@yahoo.com,LVA,Maxwell

In [10]:
# Reordenar columnas
df_clientes = df_clientes[['cliente_id', 'nombre', 'apellidos', 'email', 'pais']]

In [11]:
df_clientes

,cliente_id,nombre,apellidos,email,pais
0,1,Lauren,Chen,jenniferscott@atkins-garcia.com,TUR
1,2,Joseph,Ross,lauren07@carr.com,PER
2,3,Dr.,Katie Stephenson,kinggeorge@yahoo.com,ITA
3,4,Taylor,Todd,cory64@kelly.com,SVK
4,5,Shelley,Lowe,samantha33@yahoo.com,URY
...,...,...,...,...,...
1995,1996,Amber,Thomas,jordanwilliam@gmail.com,BLR
1996,1997,David,Allen,mitchellabigail@yahoo.com,TUN
1997,1998,Jennifer,Gardner,graycynthia@hotmail.com,MAC
1998,1999,Christy,Jackson,smithlauren@gmail.com,PAN
1999,2000,Erin,Maxwell,benjamin29@yahoo.com,LVA

In [12]:
df_clientes.to_csv('data\clientes_2000_separado.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\maria\AppData\Local\Temp\ipykernel_1932\2819493306.py:1: SyntaxWarning: invalid escape sequence '\c'
  df_clientes.to_csv('data\clientes_2000_separado.csv', index=False)

In [13]:
df_cl = pd.read_csv('data\clientes_2000_separado.csv')

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\maria\AppData\Local\Temp\ipykernel_1932\3276829453.py:1: SyntaxWarning: invalid escape sequence '\c'
  df_cl = pd.read_csv('data\clientes_2000_separado.csv')

In [14]:
# Crear columna email: nombre.apellidos@gmail.com
df_cl['email'] = (df_cl['nombre'].str.lower() + '.' + df_cl['apellidos'].str.lower() + '@gmail.com')

# Opcional: eliminar espacios y caracteres especiales
#df_cl['email'] = df_cl['email'].str.replace(' ', '', regex=False)

In [15]:
df_cl.sample(10)

      cliente_id    nombre  apellidos                       email pais
788          789     Kiara      Baker       kiara.baker@gmail.com  BGR
1570        1571     Heidi     Miller      heidi.miller@gmail.com  OMN
902          903     Aaron     Turner      aaron.turner@gmail.com  MUS
342          343     Jason     Morgan      jason.morgan@gmail.com  BGD
1953        1954   William      Perez     william.perez@gmail.com  CHL
149          150    Steven        Lee        steven.lee@gmail.com  LBY
307          308  Jennifer    Fleming  jennifer.fleming@gmail.com  HUN
1506        1507   Michael     Castro    michael.castro@gmail.com  PRT
1962        1963     Carol      Smith       carol.smith@gmail.com  GTM
773          774    Teresa  Henderson  teresa.henderson@gmail.com  CIV

In [16]:
import random

In [17]:
# Diccionario de prefijos por país
prefijos_paises = {
    'PRT': '+351', 'GBR': '+44', 'FRA': '+33', 'ESP': '+34', 'DEU': '+49',
    'ITA': '+39', 'IRL': '+353', 'BEL': '+32', 'BRA': '+55', 'NLD': '+31',
    'USA': '+1', 'CHE': '+41', 'CN': '+86', 'AUT': '+43', 'SWE': '+46',
    'CHN': '+86', 'POL': '+48', 'ISR': '+972', 'RUS': '+7', 'NOR': '+47',
    'ROU': '+40', 'FIN': '+358', 'DNK': '+45', 'AUS': '+61', 'AGO': '+244',
    'LUX': '+352', 'MAR': '+212', 'TUR': '+90', 'HUN': '+36', 'ARG': '+54',
    'JPN': '+81', 'CZE': '+420', 'IND': '+91', 'KOR': '+82', 'GRC': '+30',
    'DZA': '+213', 'SRB': '+381', 'HRV': '+385', 'MEX': '+52', 'EST': '+372',
    'IRN': '+98', 'LTU': '+370', 'ZAF': '+27', 'BGR': '+359', 'NZL': '+64',
    'COL': '+57', 'UKR': '+380', 'MOZ': '+258', 'CHL': '+56', 'SVK': '+421',
    'THA': '+66', 'SVN': '+386', 'ISL': '+354', 'LVA': '+371', 'ARE': '+971',
    'CYP': '+357', 'TWN': '+886', 'SAU': '+966', 'PHL': '+63', 'TUN': '+216',
    'SGP': '+65', 'IDN': '+62', 'NGA': '+234', 'EGY': '+20', 'URY': '+598',
    'LBN': '+961', 'PER': '+51', 'HKG': '+852', 'MYS': '+60', 'ECU': '+593',
    'VEN': '+58', 'BLR': '+375', 'CPV': '+238', 'GEO': '+995', 'JOR': '+962',
    'KAZ': '+7', 'CRI': '+506', 'GIB': '+350', 'MLT': '+356', 'OMN': '+968',
    'AZE': '+994', 'KWT': '+965', 'MAC': '+853', 'QAT': '+974', 'IRQ': '+964',
    'DOM': '+1', 'PAK': '+92', 'BIH': '+387', 'MDV': '+960', 'BGD': '+880',
    'ALB': '+355', 'PRI': '+1', 'SEN': '+221', 'CMR': '+237', 'MKD': '+389',
    'BOL': '+591', 'PAN': '+507', 'GNB': '+245', 'TJK': '+992', 'VNM': '+84',
    'CUB': '+53', 'ARM': '+374', 'JEY': '+44', 'LBY': '+218', 'AND': '+376',
    'MUS': '+230', 'LKA': '+94', 'CIV': '+225', 'JAM': '+1', 'KEN': '+254',
    'FRO': '+298', 'MNE': '+382', 'TZA': '+255', 'BHR': '+973', 'CAF': '+236',
    'SUR': '+597', 'PRY': '+595', 'BRB': '+1', 'GTM': '+502', 'UZB': '+998',
    'MCO': '+377', 'GAB': '+241', 'GHA': '+233', 'ZWE': '+263', 'ETH': '+251',
    'TMP': '+670', 'LIE': '+423', 'GGY': '+44', 'SYR': '+963', 'BEN': '+229',
    'GLP': '+590', 'SLV': '+503', 'ATA': '+672', 'MYT': '+262', 'ABW': '+297',
    'KHM': '+855', 'LAO': '+856', 'STP': '+239', 'ZMB': '+260', 'MWI': '+265',
    'IMN': '+44', 'COM': '+269', 'TGO': '+228', 'UGA': '+256', 'KNA': '+1',
    'RWA': '+250', 'SYC': '+248'
}

# Función para generar teléfono aleatorio según prefijo
def generar_telefono(pais):
    prefijo = prefijos_paises.get(pais, '+000')
    numero = ''.join(str(random.randint(0, 9)) for _ in range(9))
    return f"{prefijo} {numero[:3]} {numero[3:6]} {numero[6:]}"

# Crear nueva columna
df_cl['telefono'] = df_cl['pais'].apply(generar_telefono)

In [22]:
df_cl

,cliente_id,nombre,apellidos,email,telefono,pais
0,1,Lauren,Chen,lauren.chen@gmail.com,+90 018 313 428,TUR
1,2,Joseph,Ross,joseph.ross@gmail.com,+51 708 869 551,PER
2,3,Dr.,Katie Stephenson,dr..katie stephenson@gmail.com,+39 553 611 874,ITA
3,4,Taylor,Todd,taylor.todd@gmail.com,+421 413 443 593,SVK
4,5,Shelley,Lowe,shelley.lowe@gmail.com,+598 209 660 236,URY
...,...,...,...,...,...,...
1995,1996,Amber,Thomas,amber.thomas@gmail.com,+375 603 850 540,BLR
1996,1997,David,Allen,david.allen@gmail.com,+216 417 939 528,TUN
1997,1998,Jennifer,Gardner,jennifer.gardner@gmail.com,+853 546 007 552,MAC
1998,1999,Christy,Jackson,christy.jackson@gmail.com,+507 104 751 923,PAN
1999,2000,Erin,Maxwell,erin.maxwell@gmail.com,+371 976 408 915,LVA

In [21]:
# Reordenar columnas
df_cl = df_cl[['cliente_id', 'nombre', 'apellidos', 'email', 'telefono','pais']]

In [23]:
df_cl.to_csv('data\clientes.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\maria\AppData\Local\Temp\ipykernel_1932\1999335379.py:1: SyntaxWarning: invalid escape sequence '\c'
  df_cl.to_csv('data\clientes.csv', index=False)